# Django Secret Key (generate a secure random string for production)
SECRET_KEY=django-insecure-gl&d-t34)3##iol6jb$(e&n3#06x^fib9y1(h(971@7wnq^9e1

# Debug mode (Set to False in production)
DEBUG=False

# Optional: Email SMTP settings (Set to 1 to enable real email dispatch via Gmail)
DJANGO_ENABLE_SMTP=0
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

# Google OAuth2 Credentials
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

